@media (max-width: 768px){
  .promo{
    .container{
      .header{
        &__logo{
          width: 180px;
        }
        &__official{
          font-size: 11px;
          span{
            font-size: 15px;
          }
        }
        &__phone{
          font-size: 15px;
          font-weight: 500;
        }
        &__contacts{
          button{
            width: 135px;
            height: 25px;
          }
        }
      }
    }
    &__header{
      font-size: 36px;
    }
    &__subheader{
      font-size: 22px;
    }
  }
  .sales{
    .title{
      font-size: 27px;
    }
    &__icon{
      width: 160px;
    }
  }
  .consultation{
    .container{
      .title{
        &_left{
          text-align: center;
          font-size: 27px;
        }
      }
      .consultation__descr{
        text-align: center;
        font-size: 17px;
      }
      .feed-form{
        margin: 36px auto 0 auto;
      }
    }
  }
  .carusel{
    .carusel__inner{
      width: 100%;
    }
  }

  .catalog{
    .title{
      font-size: 27px;
    }
    .catalog__content{
      justify-content: space-around;
    }
  }

  .response{
    .title{
      font-size: 27px;
    }
    .response__photo{
      width: 150px;
      min-height: 150px;
    }
    .response__text{
      width: 520px;
      margin-left: 30px;
    }
  }
}
@media (max-width: 576px){
  .promo{
    min-height: 550px;
    .container{
      .header{
        &__official{
          display: none;
        }
        &__phone{
          font-size: 14px;
        }
        &__contacts{
          button{
            width: 125px;
          }
        }
      }
    }
    &__wrapper{
      align-items: center;
    }
    &__header{
      font-size: 32px;
      text-align: center;
    }
    &__subheader{
      font-size: 19px;
      text-align: center;
    }
    &_icons{
      display: none;
    }
  }

.sales{
  .title{
    font-size: 20px;
  }
  &__icons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__icon{
    width: 200px;
    img{
      margin-bottom: 25px;
    }
    span{
      margin-bottom: 30px;
      }
    }
  }
  .consultation{
    .container{
      .title{
        &_left{
          font-size: 20px;
        }
      }
      .consultation__descr{
        font-size: 15px;
      }
    }
  }

  .catalog{
    padding-bottom: 120px;
    .title{
      font-size: 20px;
    }
    .catalog__tabs{
      padding-right: 0;
      margin-top: 30px;
    }
    .catalog__tab{
      width: 90px;
      font-size: 8px;
    }
  }

  .carusel{
    display: none;
  }

  .response{
    .response__block{
      display: block;
    }
    .response__photo{
      display: block;
      margin: 0 auto;
    }
    .response__text{
      width: 100%;
      margin-left: 10px;
      text-align: center;
    }
    .response__name{
      margin-top: 10px;
    }
  }
  .footer{
    .footer__info{
      width: 100%;
    }
  }

  .overlay{
    .modal{
      width: 310px;
      &__close{
        right: 2px;
      }
    }
    .feed-form{
      width: 100%;
    }
  }
}